@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    background-color: #eee;
}

#canvas, #webcam, .table-container {
    width: 96vw;
    height: 96vw;
    max-width: 480px;
    max-height: 480px;
}

#webcam {
    object-fit: cover;
    object-position: center;
    background-color: #bbb;
}

button {
    width: 96vw;
    max-width: 480px;
}

td:last-child {
    text-align: center;
}

tbody td:last-child {
    font-weight: bold;
}

tbody tr:first-child {
    font-size: 20px;
}
